@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato", sans-serif;
}

.MuiCardContent-root:last-child {
  padding-bottom: 0 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Define the Lato font */
/* Lato Regular */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

/* Lato Thin */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 100; /* Thin weight */
  font-style: normal;
}

/* Lato Bold */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* Lato Bold */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900; /* Bold weight */
  font-style: normal;
}

/* Lato Italic */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: italic;
}

/* Lato Bold Italic */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: italic;
}

/* Define the Amoresa font */
@font-face {
  font-family: 'Amoresa';
  src: url('/fonts/Amoresa/Andrey Sharonov - Amoresa Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
